/* Media Query */

@media all and (min-width:878px) and (max-width:1440px) {
  /* MEDIA IMMAGINI */
  .recently-played-list li , .created-for-list li , .artists li {
    margin: 20px 20px 0 0;
    flex-basis: calc(100% / 4 - 20px);
    text-align: center;
  }
  /* MEDIA NAVBAR */
  .flex-media-navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media all and (min-width:639px) and (max-width:877px) {
  /* MEDIA IMMAGINI */
  .recently-played-list li , .created-for-list li , .artists li {
    margin: 20px 20px 0 0;
    flex-basis: calc(100% / 2 - 20px);
    text-align: center;
  }
  /* MEDIA NAVBAR */
  .flex-media-navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  /* MEDIA FOOTER */
  .linea-play span {
    margin: 0 10px;
  }

  .flex-i a {
    font-size: 18px;
    margin: 0 10px;
  }

  .vol-i a {
    padding: 0 5px;
}

@media all and (min-width:552px) and (max-width:638px) {
  /* MEDIA IMMAGINI */
  .recently-played-list li , .created-for-list li , .artists li {
    margin: 20px 20px 0 0;
    flex-basis: calc(100% / 2 - 20px);
    text-align: center;
  }

  /* MEDIA NAVBAR */
  .flex-media-navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  /* MEDIA FOOTER */
  .flex-i a {
    font-size: 18px;
    margin: 0 5px;
  }

  .linea-play span {
    margin: 0;
  }

  .vol-i a {
    padding: 0;
  }
}


@media all and (max-width:551px) {
  /* MEDIA IMMAGINI */
  .recently-played-list li , .created-for-list li , .artists li {
    margin: 20px 20px 0 0;
    flex-basis: calc(100% / 2 - 20px);
    text-align: center;
  }
  /* MEDIA NAVBAR */
  .flex-media-navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  /* MEDIA SIDEBAR COMPRESSA */
  .left-menu-2 {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .icons-left-menu {
    margin: 0;
  }
  .left-menu {
    display: none;
  }

  #download {
    margin: 0 14px;
  }

  #user-img {
    margin-left: 5px;
  }
  /* MEDIA HEADER FIXED */
  .top-fixed {
    width: calc(100% - 50px);
  }

  /* MEDIA FOOTER */
  .flex-i a {
    font-size: 18px;
    margin: 0;
  }

  .linea-play span {
    margin: 0;
  }

  .vol-i a {
    padding: 0;
  }
}
